repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.3.0
  hooks:
  - id: check-docstring-first
  - id: check-toml
  - id: check-yaml
  - id: trailing-whitespace
- repo: https://github.com/psf/black
  rev: "22.3.0"
  hooks:
  - id: black
    language_version: python3
- repo: https://github.com/asottile/reorder_python_imports
  rev: v3.8.1
  hooks:
  - id: reorder-python-imports
- repo: https://github.com/pycqa/flake8
  rev: "4.0.1"
  hooks:
    - id: flake8
      additional_dependencies:
      - 'flake8-builtins'
      - 'flake8-docstrings'
      - 'flake8-import-order'
      - 'pycodestyle'
      - 'pydocstyle'
- repo: https://github.com/terrencepreilly/darglint
  rev: v1.8.1
  hooks:
  - id: darglint
