[tool.poetry]
name = "e2c"
version = "0.1.0"
description = "A command line tool to access English-to-Chinese database"
authors = ["zequnyu <zequnyu11@gmail.com>"]
license = "GPL-3.0"

[tool.poetry.dependencies]
python = "3.7"

[tool.poetry.dev-dependencies]
pre-commit = "^2.4.0"
flake8 = "^3.8.2"
black = "^19.10b0"
pytest = "^5.4.2"
pytest-cov = "^2.9.0"
pytest-xdist = "^1.32.0"


[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
